    * {
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    div{
        margin: 0;
    }
    
    /* class name for responsive full width items*/
    @media only screen and (max-width:992px) {
        /* For mobile phones & tablets: */
        .full-width {
            width: 100%;
        }
        .some-full-width{
            width: 100%;
            text-align: center;
        }
    }
    .drop-shadow {
        filter: drop-shadow(2px 4px 8px #585858);
    }

     /* Customize the scrollbar */
     ::-webkit-scrollbar {
        width: 8px;
      }
  
      /* Track */
      ::-webkit-scrollbar-track {
        background: white;
        border-radius: 10px;
      }
  
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: teal;
        border-radius: 10px;
      }
  
    
